<div class="container">
  <ng-container>
    <div class="card" style="width: 18rem">
      <div class="card-container">
        <span class="image-container">
          <img
            src="https://ik.imagekit.io/kqo1th7dj/default-image.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1675672401471"
            alt="..."
            class="card-img-top"
          />
        </span>
        <div class="card-body">
          <h5 class="card-title">Backend Developer</h5>
          <p class="card-text posted-by">
            Posted by
            <a
              href="https://github.com/harsh-developer"
              target="_blank"
              rel="noopener noreferrer"
            >
              <em>harsh-developer</em>
            </a>
            a few seconds ago.
          </p>
          <p class="card-text">
            We are looking for a backend developer with deep knowledge in
            <strong>MERN Stack</strong>. In this role, you will be responsible
            for developing and implementing backend components using NodeJS.
          </p>
        </div>
      </div>
      <div class="job-details">
        <ul class="list-group list-group-flush details-left">
          <li class="list-group-item">Company: Not Disclosed</li>
          <li class="list-group-item">Exp: 2-3 yrs</li>
          <li class="list-group-item">Opening: 0</li>
          <li class="list-group-item">
            Keyskills:
            <mark style="background: #d9534f; border-radius: 15px">MERN</mark>
          </li>
        </ul>
        <ul class="list-group list-group-flush details-right">
          <li class="list-group-item">CTC: Not Disclosed</li>
          <li class="list-group-item">Location: Noida, India</li>
        </ul>
      </div>
      <hr style="margin-bottom: 0px; margin-top: 0px" />
      <div class="card-body card-body-footer">
        <span class="footer-card">
          <i class="bi bi-unlock-fill"></i> Open
        </span>
        <span class="footer-card"><i class="bi bi-eye-fill"></i> Views </span>
        <span class="footer-card"
          ><i class="bi bi-check2-square"></i> Applied
        </span>
        <a href="/" class="card-link share-button" onClick="{onLinkClick}">
          <i class="bi bi-share-fill"></i>
          Share
        </a>
        <Button
          class="btn btn-warning card-link apply-button"
          onClick="{onLinkClick}"
        >
          View & Apply
        </Button>
      </div>
    </div>
  </ng-container>
</div>
